.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(165, 97, 57);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

a {
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
}

.space {
    color: transparent;
}